@import "fonts"
@import "utils"
@import "libs"

@tailwind base
@tailwind components
@tailwind utilities

:root
  font-size: 16px

@layer base
  html
    overscroll-behavior: none

@layer utilities
  html.lenis, html.lenis body
    height: auto

  .lenis.lenis-smooth
    scroll-behavior: auto !important

    & [data-lenis-prevent]
      overscroll-behavior: contain

  .lenis.lenis-stopped
    overflow: hidden

  .lenis.lenis-smooth iframe
    pointer-events: none

  .container
    max-width: 1900px
    width: 100%
    padding-inline: calc-clamp(1rem, 3rem, 375, 1440)
    // padding-inline: 3.333333%
    // padding-inline:  max(min(3.33333%, 3rem), 1rem)
    margin-inline: auto
