@use "fonts"
@use "utils" as utils
@use "libs"

@tailwind base
@tailwind components
@tailwind utilities

@layer base
  :root
    --container-padding: clamp(1rem, calc(-0.429rem + 3.571vw), 3rem) /* min: 16px, max: 48px */

  html
    overscroll-behavior: none

  body
    @apply text-text
    &.lock-scroll
      overflow: hidden
      padding-right: var(--scrollbar-width, 0)

  html.lenis, html.lenis body
    height: auto

  .lenis.lenis-smooth
    scroll-behavior: auto !important

    & [data-lenis-prevent]
      overscroll-behavior: contain

  .lenis.lenis-stopped
    overflow: hidden

  .lenis.lenis-smooth iframe
    pointer-events: none

  .ymaps3x0--map-copyrights
    display: none !important

@layer utilities
  .container
    max-width: 1440px
    width: 100%
    margin-inline: auto
    padding-inline: var(--container-padding)

  .grid-stack
    display: grid
    grid-template-areas: 'stack'

    &>*,
    &::before,
    &::after
      grid-area: stack
      height: fit-content
      z-index: 2

  .image-parallax
    overflow: hidden

  .lines
    .line
      position: relative
      display: inline-flex
      overflow: hidden
      &-inner
        position: relative
        display: block
        transform: translateY(100%)
