extends layouts/root.pug
include ../components/button

block content
  main(class="~pb-[8.75rem]/[12.5rem] space-y-[7.5rem]")
    section(class="container min-h-svh")
      div(class="relative ~pt-[3.75rem]/[7.125rem]" id="hero-container")
        h1(class="~text-[2.75rem]/[9.5rem] uppercase relative text-center z-10 text-text font-playfair ~mb-[2.5rem]/[5rem]" id="hero-title") Буревестник
        blockquote(class="flex flex-col ~text-[1.125rem]/[1.75rem] max-w-[1200px] mx-auto font-playfair text-text-triary" id="hero-text")
          i(class="~ml-[0rem]/[12rem] ~mb-2/4") Над седой равниной моря ветер тучи собирает.
          i(class="~ml-[0rem]/[26.5rem]") Между тучами и морем гордо реет Буревестник…
          div(class="flex items-center text-accent justify-end ~mt-6/12 ~text-sm/lg gap-3")
            span(class="~w-6/9 ~h-6/9")
              svg(width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-full")
                path(d="M0 21.9894C0.58113 20.7691 1.6339 19.983 2.72397 19.2283C3.27021 18.8498 3.80923 18.462 4.39758 18.0452C3.91391 17.7584 3.48799 17.5506 3.11621 17.2754C2.36904 16.7216 2.33174 16.2479 2.90926 15.5408C4.63701 13.4253 6.06517 11.1543 6.8737 8.55003C6.99402 8.16107 6.90619 7.98807 6.57772 7.75354C5.78002 7.18345 4.94502 6.6273 4.28208 5.92602C3.16072 4.73941 3.33759 3.60969 4.66108 2.62047C5.79205 1.77521 7.13599 1.37929 8.49076 1.07509C10.1932 0.693097 11.9246 0.426051 13.6427 0.104436C13.7354 0.0870203 13.8208 0.0347723 13.9098 -0.0012207C14.5499 -0.0012207 15.1888 -0.0012207 15.8289 -0.0012207C15.3669 0.263502 14.9036 0.528225 14.4416 0.791787L14.5102 0.931115C14.7412 0.893961 14.9722 0.857968 15.2032 0.819653C18.0776 0.330844 20.9736 0.623433 23.8564 0.66407C25.6022 0.688452 27.348 0.95782 29.0842 1.18307C29.5991 1.25041 30.1165 1.48843 30.5749 1.74618C31.3546 2.1839 31.3413 2.45676 30.5725 2.99897C29.3717 2.2408 28.0386 1.71019 26.6009 1.57783C24.0176 1.33981 21.4272 1.17726 18.8296 1.44779C17.6409 1.57086 16.4449 1.67188 15.2502 1.69394C12.7945 1.73922 10.5987 2.64717 8.38608 3.51913C8.10334 3.63059 7.80255 3.8361 7.49935 3.39374C8.32472 2.59957 9.44608 2.31511 10.6168 1.80075C9.62535 1.63356 8.8469 1.73573 8.06965 2.01439C7.34414 2.27331 6.6054 2.49971 5.86184 2.70638C4.75853 3.01291 4.18823 4.43289 4.93299 5.31762C5.45035 5.93299 6.13616 6.43805 6.81475 6.89899C8.03957 7.73264 8.09251 7.71638 7.53905 9.05857C6.94228 10.5053 6.30701 11.938 5.62481 13.3487C5.38659 13.841 4.96427 14.2509 4.62137 14.6955C4.38435 15.0032 4.10401 15.2854 3.90548 15.614C3.40978 16.429 3.45189 16.5625 4.33622 17.0305C4.85478 17.3056 5.39862 17.5378 6.02186 17.8316C5.25544 18.3529 4.5564 18.815 3.873 19.298C3.11621 19.8333 2.36423 20.3755 1.6315 20.9398C0.999833 21.4251 0.614819 22.0312 0.884329 23.0146C0.510143 22.8753 0.256275 22.78 0.00360951 22.686C0.00360951 22.455 0.00360951 22.2227 0.00360951 21.9917L0 21.9894Z" fill="currentColor")
                path(d="M30.4604 5.90396C28.012 7.59563 25.4179 8.81939 23.6084 11.0335C26.6259 9.49629 29.6748 8.08212 33.0882 7.46675C33.0737 7.2148 33.0003 6.97446 33.0617 6.77127C33.1507 6.4752 33.2915 6.01658 33.4936 5.9713C33.7619 5.91209 34.2071 6.10598 34.3984 6.33123C34.7184 6.70858 35.0132 7.173 35.1131 7.64207C35.4427 9.18165 35.8121 10.7305 35.9252 12.2921C36.1442 15.3005 35.8615 18.2983 35.3369 21.2707C35.1973 22.0637 35.1829 22.0613 34.2324 21.9151C34.4201 20.7424 34.6126 19.5709 34.793 18.3959C35.1961 15.773 35.4464 13.1537 34.6138 10.5563C34.5729 10.4298 34.5223 10.2649 34.5729 10.1616C35.0505 9.17816 34.3058 8.72767 33.6669 8.26324C33.4876 8.1332 33.1688 8.09141 32.9365 8.13204C30.9658 8.48385 29.1815 9.27105 27.5476 10.3799C27.3659 10.5029 27.2311 10.6887 27.0735 10.8455C27.1036 10.8989 27.1337 10.9523 27.1637 11.0045C27.4862 10.9047 27.8207 10.8269 28.1311 10.6992C29.1562 10.2754 30.1644 9.81094 31.1968 9.40457C31.7081 9.20371 32.258 9.12011 32.8956 9.48004C31.5012 10.3799 29.7012 10.4182 28.6761 11.7464C30.2535 11.794 31.512 10.5227 33.1519 10.8501C31.3664 11.9252 29.1141 12.2422 27.7328 13.9629C29.5268 13.2849 31.1715 12.1737 33.2626 12.392C33.0773 12.464 32.8872 12.5255 32.7067 12.6091C30.9092 13.4346 29.1141 14.2625 27.319 15.0915C27.2299 15.1333 27.1156 15.1739 27.0735 15.2482C27.0061 15.3666 26.9881 15.5118 26.9496 15.6453C27.0891 15.6662 27.2648 15.7486 27.3611 15.6952C27.7016 15.5095 28.0036 15.1635 28.3561 15.6999C28.391 15.7521 28.7291 15.6616 28.8987 15.5814C29.5063 15.2958 30.0959 14.9742 30.7047 14.6886C31.0921 14.5075 31.4326 14.5783 31.7165 15.0125C30.0923 15.9181 28.1997 16.2955 26.8341 17.6121C27.3743 17.3892 27.9013 17.1268 28.4584 16.9527C29.1538 16.7344 29.8673 16.5544 30.5856 16.4244C31.0789 16.335 31.4386 16.5881 31.5661 17.0711C31.9211 18.4168 32.0318 19.8008 31.1655 20.9653C29.9936 22.542 28.6833 24.027 27.3767 25.5051C26.668 26.3074 25.7717 26.8507 24.5613 26.5907C24.4723 27.1189 24.4241 27.5973 24.3086 28.0594C23.8093 30.0564 22.5977 31.5101 20.6678 32.3832C19.4418 32.9382 18.2013 33.4653 16.9609 33.9901C16.6721 34.112 16.3617 34.2131 16.0513 34.2537C15.8937 34.2746 15.7132 34.1399 15.5435 34.0749C15.6169 33.8938 15.6374 33.6337 15.7746 33.5489C16.1391 33.3237 16.5458 33.1542 16.9501 32.9997C17.4867 32.7954 18.0437 32.6433 18.5803 32.4378C21.3729 31.3696 22.9322 29.3621 23.3906 26.5222C23.4616 26.0856 23.5326 25.6456 23.6565 25.2218C23.701 25.0697 23.8971 24.863 24.0307 24.8584C24.1727 24.8537 24.3435 25.0406 24.4614 25.1765C24.5457 25.2729 24.5601 25.425 24.613 25.5492C24.8103 26.0043 25.1388 26.0949 25.572 25.8545C25.7103 25.7779 25.8439 25.692 25.969 25.5968C27.7906 24.2058 29.3162 22.5629 30.4352 20.5938C30.7083 20.1131 30.8948 19.5662 31.0127 19.0275C31.2305 18.0336 30.5037 17.2928 29.4774 17.4589C27.9109 17.712 26.6753 18.5178 25.7103 19.723C25.6153 19.8414 25.5335 19.9703 25.4071 20.1502C25.1015 19.8251 24.8284 19.5349 24.5914 19.2818C25.205 18.4272 25.7849 17.6203 26.3648 16.8133C26.3167 16.7785 26.2674 16.7425 26.2193 16.7077C25.4913 16.9782 25.1821 17.9152 24.1618 17.95C24.4025 17.0955 25.2447 16.8482 25.6381 16.256L25.5347 16.0923C24.9042 16.436 24.2737 16.7797 23.6433 17.1222C23.5855 17.0862 23.5278 17.049 23.4712 17.013C23.6072 16.7576 23.6902 16.4499 23.8899 16.256C24.4963 15.6708 25.152 15.1333 25.7825 14.5713C26.3396 14.0767 26.8894 13.574 27.3899 13.0016C26.4418 13.3615 25.4937 13.7226 24.5457 14.0825L24.441 13.8828C24.903 13.0294 26.1687 13.0851 26.5537 12.082C25.5816 12.4779 24.6094 12.875 23.606 13.2837C23.3497 12.2933 24.5396 12.104 24.743 11.1996C23.5867 11.8927 22.5484 12.5139 21.5101 13.1362C21.4439 13.0759 21.3777 13.0143 21.3115 12.9539C21.4884 12.6625 21.6376 12.349 21.8506 12.0831C22.2019 11.6443 22.6495 11.2681 22.5905 10.6295C22.5809 10.5238 22.6831 10.3717 22.7806 10.2986C24.3351 9.14449 25.6718 7.69316 27.6197 7.07315C27.5957 7.01045 27.5704 6.94776 27.5464 6.88506C27.0687 6.99652 26.5646 7.04993 26.117 7.22989C24.8669 7.73264 23.6433 8.29575 22.4028 8.82055C22.0491 8.97033 21.6737 9.07251 21.2658 9.11663C21.8818 7.98923 23.0742 7.65833 24.1101 7.08941C21.9865 7.30188 19.9724 7.95672 17.933 8.50591C17.8969 8.4525 17.8621 8.40025 17.826 8.34684C18.596 7.76863 19.366 7.19042 20.2419 6.53326C18.8811 6.75037 17.7838 7.34252 16.6481 7.89751C17.0054 6.61337 18.3529 6.39973 19.3564 5.66826C17.3014 5.94227 15.6819 7.00813 13.9349 7.7547C13.8892 7.69316 13.8423 7.63162 13.7965 7.56893C14.4102 7.09521 15.0238 6.6215 15.7409 6.06651C14.4511 6.22557 13.6305 7.0836 12.591 7.53758C12.6712 7.10643 13.5944 6.36606 15.3607 5.31646C13.7725 5.33039 12.544 6.23486 10.9932 6.39393C11.1676 6.16055 11.241 5.99104 11.3734 5.89815C12.9267 4.79398 14.2838 3.42392 16.0898 2.66226C16.9609 2.29537 17.8187 1.89596 18.9184 1.98304C17.9752 2.62627 16.8442 2.8759 16.1812 3.94292C17.7778 3.50287 19.0953 2.60537 20.8351 2.60537C19.6788 3.22538 18.6537 3.77456 17.6274 4.32491C17.6539 4.38064 17.6804 4.43521 17.708 4.49094C19.2337 3.95105 20.7027 3.21957 22.3944 3.19171C21.4655 3.68864 20.5355 4.18558 19.6066 4.68252C19.6271 4.71967 19.6476 4.75682 19.6692 4.79514C20.9337 4.50487 22.1983 4.21461 23.4628 3.92434C23.482 3.98239 23.5001 4.04161 23.5193 4.09966C22.8696 4.56293 21.9805 4.75102 21.6183 5.54403C23.0369 5.205 24.4446 4.86713 25.8523 4.53042C25.8812 4.61518 25.91 4.69877 25.9389 4.78353C25.7596 4.85087 25.5816 4.91937 25.4023 4.98439C24.2473 5.40354 23.0838 5.80178 21.942 6.25344C21.6087 6.38464 21.3368 6.66446 21.0853 6.94776C24.1342 6.20467 27.1649 5.63459 30.4616 5.89699L30.4604 5.90396Z" fill="currentColor")
                path(d="M11.9363 35.993C9.56126 35.993 7.185 36.0174 4.81115 35.9791C4.07962 35.9675 3.70303 35.3696 3.51293 34.7844C3.32764 34.2155 2.99316 33.823 2.54438 33.4503C0.803392 32.0048 -0.0183719 28.9582 0.746843 26.874C1.13065 25.8279 1.84534 25.0616 3.10987 24.5252C2.55039 24.2605 2.16177 24.0654 1.76352 23.8901C1.32918 23.6985 0.997102 23.4733 1.3003 22.9055C2.43609 23.1296 3.5418 23.3549 4.07721 24.5426C3.63565 24.8619 3.20492 25.165 2.7826 25.4796C1.67569 26.3028 1.34361 27.3977 1.51326 28.705C1.70216 30.168 2.20027 31.5032 3.09182 32.6991C3.18446 32.8233 3.28673 32.9429 3.39141 33.059C3.41186 33.0823 3.46119 33.0811 3.56587 33.109C3.58752 32.6457 3.60798 32.1952 3.62963 31.7296C4.11331 31.6658 4.23603 31.992 4.301 32.3055C4.41169 32.8315 4.43215 33.376 4.55728 33.8985C4.85205 35.1327 5.39829 35.4891 6.6929 35.5217C8.4399 35.5658 10.1845 35.6784 11.9303 35.762C11.9327 35.8398 11.9351 35.9164 11.9375 35.9942L11.9363 35.993Z" fill="currentColor")
                path(d="M15.6676 18.4702C15.1201 18 14.5739 17.5274 14.024 17.0607C12.638 15.8822 10.5589 15.6836 8.91418 16.5684C9.32085 17.481 9.62645 17.6656 10.5673 17.5158C11.2531 17.4067 11.8234 17.6342 12.342 18.0325C12.6657 18.2821 12.9773 18.5457 13.3671 18.8626C12.7872 18.8162 12.2903 18.692 11.8258 18.7628C11.3819 18.8301 10.8368 18.9927 10.5721 19.3015C9.92243 20.0608 9.08382 20.35 8.15979 20.552C8.05993 20.235 8.06715 20.2443 8.78544 19.7485C9.10668 19.5268 9.39665 19.2632 9.64209 19.0658C9.12594 18.4458 8.66272 17.8606 8.1634 17.308C8.02865 17.1582 7.78681 17.0444 7.58107 17.02C7.20808 16.9736 6.82427 17.0072 6.37429 17.0072C6.24435 16.2038 6.24314 15.4282 6.81706 14.6387C7.00355 15.0311 7.17079 15.3632 7.32118 15.7022C7.50045 16.1074 7.75673 16.1864 8.17182 15.9843C9.84663 15.167 11.6057 15.1902 13.3563 15.6442C14.4548 15.9286 15.3223 16.5788 15.7157 17.6737C15.7975 17.9001 15.8083 18.1497 15.8528 18.3889L15.6676 18.4713V18.4702Z" fill="currentColor")
                path(d="M13.1939 33.7603C13.1169 33.52 13.011 33.2831 12.9665 33.037C12.5622 30.7624 11.6839 28.6806 10.2786 26.809C10.174 26.6708 10.0693 26.5327 9.91527 26.4305C10.3929 28.1524 10.6576 29.8231 9.76488 31.5148C9.36181 31.2861 9.14765 31.1375 9.32572 30.759C10.3219 28.6447 9.33775 26.5083 7.78446 25.2021C7.58955 25.0384 7.38862 24.8805 7.15039 24.6877C7.28033 24.5113 7.40306 24.3464 7.48487 24.2361C8.11533 24.3812 8.72293 24.4369 9.24511 24.6703C9.65298 24.8526 10.0139 25.2137 10.2919 25.5701C11.406 26.9948 12.2242 28.582 12.8161 30.2655C13.1025 31.0794 13.2829 31.9316 13.461 32.7757C13.5248 33.0788 13.4406 33.4097 13.4237 33.7278C13.3467 33.7382 13.2685 33.7487 13.1915 33.7603H13.1939Z" fill="currentColor")
                path(d="M3.0884 26.8265C3.14134 27.5359 3.05953 28.2395 3.77661 28.7457C3.83798 28.1989 3.85241 27.7089 3.95709 27.2387C4.05695 26.7894 4.25307 26.3598 4.43475 25.8396C4.7223 26.0509 4.8739 26.1635 4.95331 26.2228C4.02687 29.8139 5.76064 32.1361 8.61455 33.9671C8.59771 34.0181 8.58086 34.0704 8.56402 34.1215C8.08155 33.9647 7.53411 33.8997 7.12864 33.6338C5.7077 32.7015 4.55025 31.5219 3.78985 30.0067C3.67194 29.771 3.41326 29.6026 3.29414 29.3669C3.02945 28.8444 2.75753 28.3138 2.5951 27.7577C2.49765 27.4245 2.61556 27.0425 3.0872 26.8277L3.0884 26.8265Z" fill="currentColor")
                path(d="M6.34474 23.3281C6.66358 22.5664 5.26189 21.9754 5.93446 21.0791C6.96076 21.6294 7.43601 23.4314 6.73817 24.0944C6.64553 24.1815 6.50596 24.2999 6.40249 24.2871C5.40988 24.1664 4.42087 24.005 3.69416 23.2538C3.55098 23.1063 3.51609 22.8613 3.43066 22.6616C3.63641 22.6373 3.8614 22.5467 4.04428 22.5989C4.81431 22.8184 5.5711 23.0796 6.34474 23.3292V23.3281Z" fill="currentColor")
                path(d="M32.4734 6.47534C32.5131 6.70523 32.5492 6.9061 32.5841 7.10812C31.4747 7.3624 30.3534 7.62015 29.1045 7.90577C29.5593 7.59345 29.9058 7.25209 30.3257 7.08955C31.0067 6.82598 31.7358 6.67853 32.4734 6.47534Z" fill="currentColor")
            span Максим Горький
        div(class="absolute left-1/2 -translate-y-1/2 top-full min-[81.25rem]:top-[calc(100%+clamp(3rem,1.4155rem+6.7606vw,7.5rem))] opacity-0 min-[81.25rem]:~min-[82.5rem]/2xl:~left-0/12 min-[81.25rem]:translate-y-0 ~lg/2xl:~text-sm/base flex gap-x-2" id="hero-address")
          span(class="text-accent")
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M12 4.5C10.067 4.5 8.5 6.067 8.5 8C8.5 9.933 10.067 11.5 12 11.5C13.933 11.5 15.5 9.933 15.5 8C15.5 6.067 13.933 4.5 12 4.5ZM12.5 12.4725C14.75 12.2238 16.5 10.3163 16.5 8C16.5 5.51472 14.4853 3.5 12 3.5C9.51472 3.5 7.5 5.51472 7.5 8C7.5 10.3163 9.25002 12.2238 11.5 12.4725V20H12.5V12.4725Z" fill="currentColor" stroke="currentColor" stroke-width="0.2" stroke-linejoin="bevel")
          p(class="font-light") Жилой комплекс класса
            | 
            br
            | комфорт на&nbsp;ул. Анатолия, 24
        div(class="z-20 absolute top-[calc(100%+clamp(3rem,1.4155rem+6.7606vw,7.5rem))] max-w-[670px] w-full ~h-[43.125rem]/[50rem] rounded-[80px] overflow-hidden left-1/2 -translate-x-1/2" id="hero-first-layer")
          img(class="object-cover object-top w-full h-full" src="assets/img/hero-first-layer.png" alt="")
        div(class='absolute top-[calc(100%+clamp(3rem,1.4155rem+6.7606vw,7.5rem))] left-1/2 rounded-[80px] max-w-[670px] w-full ~h-[43.125rem]/[50rem] overflow-hidden -translate-x-1/2' id="hero-second-layer")
          img(class="object-cover object-top w-full h-full" src="assets/img/hero-second-layer.png" alt="")
      div(class="~min-[26.5625rem]/sm:~pt-[27rem]/[32rem] sm:~pt-[32rem]/[20rem]")
        a(href="#" class="group rounded-xl inline-flex items-center h-[60px] justify-center gap-4 text-accent focus-visible:outline-none focus-visible:ring focus-visible:ring-accent") 
          span(class="border border-accent rounded-xl w-[3.75rem] h-[3.75rem] inline-flex items-center justify-center group-hover:text-white group-hover:bg-accent transition-all duration-300") 
            svg(width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M16 4C16 4 13.75 1 8.5 1C3.25 1 1 4 1 4V25C1 25 3.25 23.5 8.5 23.5C13.75 23.5 16 25 16 25M16 4V25M16 4C16 4 18.25 1 23.5 1C28.75 1 31 4 31 4V25C31 25 28.75 23.5 23.5 23.5C18.25 23.5 16 25 16 25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round")
          p Скачать буклет
    section(class='container' id="about")
      h2(class="~text-[1.875rem]/[4.5rem] text-center text-text font-playfair leading-tight") Изысканный комплекс 
        |
        br 
        | из двух корпусов
      hr(class="bg-accent h-0.5 w-[112px] ~my-6/12 mx-auto")
      blockquote(class="text-center font-playfair text-text-triary ~text-[0.875rem]/[1.25rem] leading-normal max-w-[670px] mx-auto") 
        i 8-ми этажный дом клубного типа, в&nbsp;стиле неоклассики, где высота потолков от&nbsp;2,9&nbsp;метра. Во&nbsp;дворе нет машин, он&nbsp;закрыт для посторонних. Собственный зелёный сквер, детские и&nbsp;спортивные площадки, вело-дорожка с&nbsp;элементами памп-трека
      div(class="overflow-hidden relative ~mt-[3.75rem]/[6.25rem]" id="queue-container")
        div(id="queue-list" class="flex flex-col md:flex-row gap-y-[3.375rem] gap-x-[7.77%]")
          div(class="flex w-full md:max-w-[67%] min-[62rem]:max-w-[calc(7/12*100%)] shrink-0 min-[62rem]:items-end")
            span(class="inline-block ~h-[6.25rem]/[29.1875rem] ~w-[6rem]/[14rem] ~mr-[2.125rem]/0 shrink-0 text-accent")
              svg(width="100%" height="100%" viewBox="0 0 169 467" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(opacity="0.2" d="M168.754 0.354017V13.5361C153.814 13.9755 142.39 15.7331 134.481 18.8089C127.011 21.4454 121.958 26.7182 119.321 34.6274C116.685 42.0973 115.367 53.9611 115.367 70.2191V397.135C115.367 412.953 116.685 424.817 119.321 432.727C121.958 440.636 127.011 445.909 134.481 448.545C142.39 451.181 153.814 452.939 168.754 453.818V467C158.648 466.121 145.905 465.682 130.526 465.682C115.586 465.242 100.427 465.023 85.0478 465.023C67.9111 465.023 51.8728 465.242 36.9331 465.682C21.9934 465.682 9.90985 466.121 0.682391 467V453.818C15.6221 452.939 26.8269 451.181 34.2967 448.545C42.206 445.909 47.4788 440.636 50.1152 432.727C52.7516 424.817 54.0699 412.953 54.0699 397.135V70.2191C54.0699 53.9611 52.7516 42.0973 50.1152 34.6274C47.4788 26.7182 42.206 21.4454 34.2967 18.8089C26.8269 15.7331 15.6221 13.9755 0.682391 13.5361V0.354017C9.90985 0.793414 21.9934 1.23281 36.9331 1.67221C51.8728 2.11161 67.9111 2.3313 85.0478 2.3313C100.427 2.3313 115.586 2.11161 130.526 1.67221C145.905 1.23281 158.648 0.793414 168.754 0.354017Z" fill="currentColor")
            div(class="flex-1")
              span(class="text-text-triary font-light ~mb-[1.25rem]/[2.25rem] inline-block") 1 очередь
              div(class="grid grid-cols-1 min-[62rem]:grid-cols-2 gap-x-14 ~gap-y-3/8")  
                div
                  h3(class="~text-[1.375rem]/[2rem] mb-2 text-accent font-playfair") 48 квартир
                  p(class="~text-xs/sm text-text font-light") 23 уникальных планировки
                div
                  h3(class="~text-[1.375rem]/[2rem] mb-2 text-accent font-playfair") до 180 м²
                  p(class="~text-xs/sm text-text font-light") Площадь от 40м² до 180м²
                div
                  h3(class="~text-[1.375rem]/[2rem] mb-2 text-accent font-playfair") 34 места
                  p(class="~text-xs/sm text-text font-light") Машино-места на подземном паркинге
                div
                  h3(class="~text-[1.375rem]/[2rem] mb-2 text-accent font-playfair") 35 кладовых
                  p(class="~text-xs/sm text-text font-light") На подземном этаже
          div(class="flex w-full md:max-w-[67%] min-[62rem]:max-w-[calc(8/12*100%)] shrink-0 min-[62rem]:items-end")
            span(class="inline-block ~h-[6.25rem]/[29.1875rem] ~w-[6rem]/[27.9375rem] shrink-0 text-accent ~mr-[2.125rem]/0")
              svg(width="100%" height="100%" viewBox="0 0 393 467" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(opacity="0.2" d="M168.754 0.354017V13.5361C153.814 13.9755 142.39 15.7331 134.481 18.8089C127.011 21.4454 121.958 26.7182 119.321 34.6274C116.685 42.0973 115.367 53.9611 115.367 70.2191V397.135C115.367 412.953 116.685 424.817 119.321 432.727C121.958 440.636 127.011 445.909 134.481 448.545C142.39 451.181 153.814 452.939 168.754 453.818V467C158.648 466.121 145.905 465.682 130.526 465.682C115.586 465.242 100.427 465.023 85.0478 465.023C67.9111 465.023 51.8728 465.242 36.9331 465.682C21.9934 465.682 9.90985 466.121 0.682391 467V453.818C15.6221 452.939 26.8269 451.181 34.2967 448.545C42.206 445.909 47.4788 440.636 50.1152 432.727C52.7516 424.817 54.0699 412.953 54.0699 397.135V70.2191C54.0699 53.9611 52.7516 42.0973 50.1152 34.6274C47.4788 26.7182 42.206 21.4454 34.2967 18.8089C26.8269 15.7331 15.6221 13.9755 0.682391 13.5361V0.354017C9.90985 0.793414 21.9934 1.23281 36.9331 1.67221C51.8728 2.11161 67.9111 2.3313 85.0478 2.3313C100.427 2.3313 115.586 2.11161 130.526 1.67221C145.905 1.23281 158.648 0.793414 168.754 0.354017ZM392.103 0.354017V13.5361C377.163 13.9755 365.739 15.7331 357.829 18.8089C350.36 21.4454 345.307 26.7182 342.67 34.6274C340.034 42.0973 338.715 53.9611 338.715 70.2191V397.135C338.715 412.953 340.034 424.817 342.67 432.727C345.307 440.636 350.36 445.909 357.829 448.545C365.739 451.181 377.163 452.939 392.103 453.818V467C381.997 466.121 369.254 465.682 353.875 465.682C338.935 465.242 323.776 465.023 308.397 465.023C291.26 465.023 275.222 465.242 260.282 465.682C245.342 465.682 233.259 466.121 224.031 467V453.818C238.971 452.939 250.176 451.181 257.646 448.545C265.555 445.909 270.828 440.636 273.464 432.727C276.101 424.817 277.419 412.953 277.419 397.135V70.2191C277.419 53.9611 276.101 42.0973 273.464 34.6274C270.828 26.7182 265.555 21.4454 257.646 18.8089C250.176 15.7331 238.971 13.9755 224.031 13.5361V0.354017C233.259 0.793414 245.342 1.23281 260.282 1.67221C275.222 2.11161 291.26 2.3313 308.397 2.3313C323.776 2.3313 338.935 2.11161 353.875 1.67221C369.254 1.23281 381.997 0.793414 392.103 0.354017Z" fill="#B79F7F")
            div(class="flex-1")
              span(class="text-text-triary font-light ~mb-[1.25rem]/[2.25rem] inline-block") 1 очередь
              div(class="grid grid-cols-1 min-[62rem]:grid-cols-2 gap-x-14 ~gap-y-3/8")  
                div
                  h3(class="~text-[1.375rem]/[2rem] mb-2 text-accent font-playfair") 48 квартир
                  p(class="~text-xs/sm text-text font-light") 23 уникальных планировки
                div
                  h3(class="~text-[1.375rem]/[2rem] mb-2 text-accent font-playfair") до 180 м²
                  p(class="~text-xs/sm text-text font-light") Площадь от 40м² до 180м²
                div
                  h3(class="~text-[1.375rem]/[2rem] mb-2 text-accent font-playfair") 34 места
                  p(class="~text-xs/sm text-text font-light") Машино-места на подземном паркинге
                div
                  h3(class="~text-[1.375rem]/[2rem] mb-2 text-accent font-playfair") 35 кладовых
                  p(class="~text-xs/sm text-text font-light") На подземном этаже
    section(class="container" id="history") 
      h2(class="~text-[1.875rem]/[4.5rem] text-center text-text font-playfair leading-tight") История с которой 
        | 
        br
        | мы живем
      hr(class="bg-accent h-0.5 w-[112px] ~my-6/12 mx-auto")
      blockquote(class="text-center font-playfair text-text-triary ~text-[0.875rem]/[1.25rem] leading-normal max-w-[720px] mx-auto") 
        i От&nbsp;соляных складов и&nbsp;торговых площадей до&nbsp;домов, построенных японскими военнопленными&nbsp;&mdash; каждое из&nbsp;этих событий оставило свой след, создавая уникальный облик этого района Барнаула
      div(class="flex flex-col gap-6 lg:gap-0 lg:flex-row lg:items-end ~mt-[3rem]/[6.25rem]") 
        div(class="swiper order-2 lg:order-1 h-full overflow-hidden ~text-base/[1.25rem] font-light w-full lg:w-[calc(4/12*100%)] m-0 min-[81.25rem]:ml-[calc(1/12*100%)]" data-history-swiper-text)
          div(class="swiper-wrapper")
            div(class="swiper-slide transition-all duration-[600ms]")
              div(class="")
                p Согласно плану 1837&nbsp;года, здесь были запланированы соляные склады, а&nbsp;к&nbsp;1856 году они уже существовали. Позднее рядом возникла площадь, сначала Соляная, затем Хлебная, а&nbsp;после прихода советской власти&nbsp;&mdash; Красная. Здесь проходили первомайские демонстрации, но&nbsp;уже в&nbsp;1950 году площадь исчезла с&nbsp;карты, уступив место жилым домам.
            div(class="swiper-slide transition-all duration-[600ms]")
              div(class="")
                p Уже к&nbsp;1820 году здесь появились полноценные кварталы, а&nbsp;улица, ныне известная как Анатолия, тогда называлась Новолинейной и&nbsp;была северной границей города. В&nbsp;середине XIX века её&nbsp;переименовали в&nbsp;честь Павловского сереброплавильного завода. В&nbsp;1920-х годах улица получила идеологическое название Комиссарская, а&nbsp;в&nbsp;1927 году&nbsp;&mdash; имя революционера Матвея Ворожцова псевдоним &laquo;Анатолий&raquo;.
            div(class="swiper-slide transition-all duration-[600ms]")
              div(class="")
                p Будущий переулок Горького долго оставался безымянным, пока с&nbsp;постройкой моста в&nbsp;1885 году не&nbsp;получил название Мостовой. В&nbsp;1930-е годы его переименовали в&nbsp;честь писателя Максима Горького.
            div(class="swiper-slide transition-all duration-[600ms]")
              div(class="")
                p В&nbsp;начале&nbsp;XX века район Хлебной площади был центром мелкого бизнеса. Здесь находились лавки, мастерские, а&nbsp;также три усадьбы на&nbsp;месте нынешних домов по&nbsp;ул. Анатолия. Особенно выделялась усадьба семьи Астраханцевых&nbsp;&mdash; старообрядцев, достигших успеха в&nbsp;торговле.
            div(class="swiper-slide transition-all duration-[600ms]")
              div(class="")
                p История этого места насыщена событиями и&nbsp;людьми, заслуживающими памяти. От&nbsp;соляных складов и&nbsp;торговых площадей до&nbsp;домов, построенных японскими военнопленными&nbsp;&mdash; каждое из&nbsp;этих событий оставило свой след, создавая уникальный облик этого района Барнаула.
          div(class="flex items-center pt-10")
            button(type="button" class="swiper-button-prev disabled:opacity-50")
              svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M40 24H8M8 24L9.19566 23.5018C16.0815 20.6327 21.4507 15.0105 24 8M8 24C15.0105 26.5493 20.6327 31.9185 23.5018 38.8043L24 40" stroke="#B79F7F" stroke-width="2" stroke-linejoin="bevel")
            button(type="button" class="swiper-button-next disabled:opacity-50")
              svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M8 24H40M40 24L38.8043 23.5018C31.9185 20.6327 26.5493 15.0105 24 8M40 24C32.9895 26.5493 27.3673 31.9185 24.4982 38.8043L24 40" stroke="#B79F7F" stroke-width="2" stroke-linejoin="bevel")
        div(class="swiper order-1 lg:order-2 w-full lg:w-[calc(7/12*100%)] xl:w-[calc(5.5/12*100%)] ~h-[20rem]/[30rem] mr-0" data-history-swiper-img)
          div(class="swiper-wrapper")
            div(class="swiper-slide relative overflow-hidden")
              div(class="slide-inner absolute inset-0 bg-[url('assets/img/history-1.webp')] bg-cover bg-center bg-no-repeat")
            div(class="swiper-slide relative overflow-hidden")
              div(class="slide-inner absolute inset-0 bg-[url('assets/img/history-2.webp')] bg-cover bg-center bg-no-repeat")
            div(class="swiper-slide relative overflow-hidden")
              div(class="slide-inner absolute inset-0 bg-[url('assets/img/history-3.webp')] bg-cover bg-center bg-no-repeat")
            div(class="swiper-slide relative overflow-hidden")
              div(class="slide-inner absolute inset-0 bg-[url('assets/img/history-4.webp')] bg-cover bg-center bg-no-repeat")
            div(class="swiper-slide relative overflow-hidden")
              div(class="slide-inner absolute inset-0 bg-[url('assets/img/history-5.webp')] bg-cover bg-center bg-no-repeat")
    section(class="container" id="contacts")
      h2(class="~text-[1.875rem]/[4.5rem] text-left text-text font-playfair leading-tight") Получить консультацию
      div(class="flex flex-col min-[62rem]:flex-row ~mt-9/20 m-0 min-[81.25rem]:ml-[calc(1/12*100%)]")
        div(class="min-[62rem]:pt-[3.75rem] ~pb-[3.75rem]/11 w-full md:w-[calc(6/12*100%)] min-[62rem]:w-[calc(4/12*100%)] flex flex-col")
          form(method="post" action="test.php" class="~space-y-8/10" novalidate)
            div(data-form-control)
              div(class="relative border-b border-border/60")
                input(type="text" class="peer w-full h-12 py-3 text-2xl focus:outline-none text-text font-light bg-transparent" id="name" name="name" placeholder="" pattern="[А-ЯЁа-яё]{2,}" data-pattern-text="Только кириллица, минимум 2 символа" required)
                label(for="name" class='font-light pointer-events-none absolute left-0 top-1/2 -translate-y-1/2 peer-focus:-top-1 peer-focus:text-sm peer-focus:text-text/60 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:-top-1 peer-[:not(:placeholder-shown)]:text-text/60 peer-aria-[invalid=true]:text-destructive peer-focus:peer-aria-[invalid=true]:text-destructive/60 peer-[:not(:placeholder-shown)]:peer-aria-[invalid=true]:text-destructive/60 transition-all duration-300') Ваше имя
              p(class="text-destructive font-light text-sm mt-3" data-form-control-message)
            div(data-form-control)
              div(class="relative border-b border-border/60")
                input(type="tel" class="peer w-full h-12 py-3 text-2xl focus:outline-none text-text font-light bg-transparent" id="tel" name="tel" placeholder="" pattern="\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}" data-pattern-text="Невалидный формат" required)
                label(for="name" class='font-light pointer-events-none absolute left-0 top-1/2 -translate-y-1/2 peer-focus:-top-1 peer-focus:text-sm peer-focus:text-text/60 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:-top-1 peer-[:not(:placeholder-shown)]:text-text/60 peer-aria-[invalid=true]:text-destructive peer-focus:peer-aria-[invalid=true]:text-destructive/60 peer-[:not(:placeholder-shown)]:peer-aria-[invalid=true]:text-destructive/60 transition-all duration-300') Телефон
              p(class="text-destructive font-light text-sm mt-3" data-form-control-message)
            div
              +button(class="max-md:w-full max-md:text-center max-md:justify-center")
                span Задать вопрос
          div(class='mt-auto pt-4 text-sm')
            p(class="font-light opacity-80") Нажимая кнопку, вы соглашаетесь 
              |
              br
              | с нашей 
              a(href="#" class="text-accent focus:outline-none focus-visible:ring focus-visible:ring-accent rounded-xl") политикой обработки данных
        div(class="w-full min-[62rem]:w-[calc(6/12*100%)] xl:w-[calc(5/12*100%)] ~h-[22.5rem]/[37.5rem] ml-auto" id='contacts-map')

