mixin button(variant)
  button(class="inline-flex items-center gap-3 text-accent ~text-sm/base px-8 py-4 rounded-xl border border-accent focus-visible:outline-none focus-visible:ring focus-visible:ring-accent hover:text-white hover:bg-accent transition-all duration-300")&attributes(attributes)
    block

