mixin button(variant)
  button(class="inline-flex items-center gap-3 text-text px-8 py-4 rounded-xl border border-accent focus-visible:outline-none focus-visible:ring focus-visible:ring-accent transition duration-300")&attributes(attributes)
    block

