mixin footer
  footer(class="mt-auto") 
    div(class="font-formular container mb-7 flex text-lg items-center font-light justify-between gap-4 text-text-triary")
      span ©2024 СЗ «Д4»
      span Сайт от 
        a(href="https://countryagency.ru/" target="_blank" class="text-accent focus:outline-none focus-visible:ring focus-visible:ring-accent rounded-xl") country
    div(class="bg-[url('assets/img/footer-pattern.svg')] ~h-[12.5rem]/[18.75rem] bg-no-repeat bg-cover")