mixin footer
  footer(class="mt-auto") 
    div(class="font-formular container mb-7 flex text-lg items-center font-light justify-between gap-4 text-text-triary")
      span ©2024 СЗ «Д4»
      span Сайт от 
        a(href="https://countryagency.ru/" target="_blank" class="text-accent") country
    div(class="bg-[url('assets/img/footer-pattern.svg')] h-[300px] bg-no-repeat bg-cover")