include ../../components/header
include ../../components/footer

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles.min.css")
    script(src="https://api-maps.yandex.ru/v3/?apikey=d176ec1a-b884-4f13-8214-24154cf58189&lang=ru_RU")

    title Буревестник
  body(class="font-montserrat bg-background")
    div(class="flex flex-col min-h-svh")
      +header
      block content
        main content
      +footer
  script(src="main.min.js" ) 
